cryptographic-message-syntax: rfc3161 decoder using rfc2459 GeneralizedTime causing Malformed Err for valid TimeStampToken

The implementation of `x509-certificate/src/asn1time.rs` seems correct.
but using it in RFC3161 TimeStampToken decoder is incorrect, causing `Malfrom` error for valid TstInfo.

Under the restrictions of [RFC 2459 Section 4.1.2.5.2](https://datatracker.ietf.org/doc/html/rfc2459#section-4.1.2.5.2),
granularity of GeneralizedTime MUST be limited to one second.
But in [RFC 3161](https://datatracker.ietf.org/doc/html/rfc3161#page-9),
GeneralizedTime can have fraction-of-time (The syntax is: YYYYMMDDhhmmss[.s...]Z) (RFC says the precision SHOULD be limited to one second, though)

my temporal fix is allowing fraction-of-time in `x509-certificate/src/asn1time.rs` 
https://github.com/ngicks/PyOxidizer/commit/ed45a917e57889b318e8577532dff829f34466b6
but this does not look neat.

any ideas?

Thanks for reporting this. This looks like a legitimate bug, at least for some users of `x509-certificate/src/asn1time.rs`.

So are there conflicting definitions of `GeneralizedTime` across multiple RFCs or strictly separate types having to share the name `GeneralizedTime`?

I suspect when I implemented this I assumed there was exactly 1 `GeneralizedTime` and it had universal semantics. And because I didn't implement support for fractional seconds, I probably based it off RFC 2459 or 5652, which both prohibit fractional seconds.

Whatever the case, it is clear that some `GeneralizedTime` must respect fractional seconds and others must reject them. So we probably want different types in Rust to express the constraints of each variant. And the RFC 3161 code should switch over to the type supporting fractional seconds.

Your code doesn't seem so bad. If I were implementing this, I'd split out the date string parsing code to a new function that takes a `bool` argument to control whether to accept fractional seconds. Then I'd basically add in the bits from your PR to parse accordingly. That way `GeneralizedTimeNoFractionalSeconds` type (or whatever we call it) doesn't have to reinvent that wheel.

Do you want to send up a PR?

I'm not very familiar with ASN.1 but it says currently mandatory part of `GeneralizedTime` is only YYYYMMDDHH and TZ. while hours, seconds and fractions are optional.
see: https://www.obj-sys.com/asn1tutorial/node14.html, https://en.wikipedia.org/wiki/GeneralizedTime
The link above says

> where the optional fff is accurate to three decimal places.

but RFC3161 says nothing about fraction accuracy limitation.

That means `GeneralizedTime` is like kind of format template, and each RFCs employ their own time precision restriction.
ASN.1 does not have notation to express that in clear way.
I see this is the point of confusion.

I can't promise a PR.
I'm actually trying to switch to OpenSSL.